<footer class="footer">
  <div class="footer-container">

    <!-- Columna 1 -->
    <div class="footer-col">
      <h3>PARA TU INTERÉS</h3>
      <a href="/productos">Productos</a>
      <a href="/sucursales">Sucursal</a>
      <a href="/colores">Colores</a>
    </div>

    <!-- Columna 2 -->
    <div class="footer-col">
      <h3>SOBRE IPESA</h3>
      <a href="/nosotros">Nosotros</a>
      <a href="/privacidad">Política de Privacidad</a>
      <a href="/terminos">Términos y Condiciones</a>
    </div>

    <!-- Columna 3 -->
    <div class="footer-col contact">
      <h3>CONTÁCTANOS</h3>

      <p>✉ contacto@ipesamex.com</p>
      <p>📞 (55) 5569 1855</p>

      <div class="social">
        <a href="https://www.facebook.com/IPESAPinturasOficial">Facebook</a>
        <a href="https://www.instagram.com/ipesa.pinturas.oficial/">Instagram</a>
        <a href="https://www.youtube.com/@IPESAPINTURAS">YouTube</a>
      </div>
    </div>

      <!-- Columna marca -->
    <div class="footer-col logo-col">
      <p>© 2026 Copyright:<br><strong>IPESA PINTURAS</strong></p>
        <div class="footer-col dev">
      <p>Desarrollado por Ortega Martinez y Trejo Sanchez</p>
    </div>
    </div>

  </div>
</footer>