<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Crear cuenta</title>
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  <main class="auth">
    <h1>Crear cuenta</h1>

    <form id="registerForm">
      <label>Nombre y apellidos</label>
      <input type="text" id="nombre" required />

      <label>Teléfono</label>
      <input type="tel" id="telefono" required />

      <label>Correo</label>
      <input type="email" id="email" required />

      <label>Contraseña</label>
      <input type="password" id="password" minlength="6" required />

      <button type="submit">Crear cuenta</button>
      <p id="msg"></p>
    </form>

    <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión</a></p>
  </main>

  <script type="module" src="/js/firebase-init.js"></script>
  <script type="module" src="/js/auth-register.js"></script>
</body>
</html>